<a href="https://colab.research.google.com/github/abhinavpy/Tensorflow-Keras-Tutorials/blob/master/Encoding_a_feature_vector_for_keras_with_tabular_data_Deep_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.youtube.com/watch?v=Vxz-gfs9nMQ&t=4s

In [7]:
import pandas as pd

df = pd.read_csv("https://data.heatonresearch.com/data/t81-558/jh-simple-dataset.csv", na_values = ['NA', '?'])

display(df[0:5])

   id job area   income  ...  pop_dense  retail_dense     crime  product
0   1  vv    c  50876.0  ...   0.885827      0.492126  0.071100        b
1   2  kd    c  60369.0  ...   0.874016      0.342520  0.400809        c
2   3  pe    c  55126.0  ...   0.944882      0.724409  0.207723        b
3   4  11    c  51690.0  ...   0.889764      0.444882  0.361216        b
4   5  kl    d  28347.0  ...   0.744094      0.661417  0.068033        a

[5 rows x 14 columns]

In [8]:
dummies = pd.get_dummies(df['job'], prefix="job")
print(dummies.shape)
display(dummies[1:10])

(2000, 33)

   job_11  job_al  job_am  job_ax  ...  job_rn  job_sa  job_vv  job_zz
1       0       0       0       0  ...       0       0       0       0
2       0       0       0       0  ...       0       0       0       0
3       1       0       0       0  ...       0       0       0       0
4       0       0       0       0  ...       0       0       0       0
5       0       0       0       0  ...       0       0       0       0
6       0       0       0       0  ...       0       0       0       0
7       0       0       0       0  ...       0       0       0       0
8       0       1       0       0  ...       0       0       0       0
9       0       0       0       0  ...       0       0       0       0

[9 rows x 33 columns]

In [9]:
df = pd.concat([df, dummies], axis = 1)
df.drop('job', axis = 1, inplace = True)
display(df[0:10])

   id area   income     aspect  ...  job_rn  job_sa  job_vv  job_zz
0   1    c  50876.0  13.100000  ...       0       0       1       0
1   2    c  60369.0  18.625000  ...       0       0       0       0
2   3    c  55126.0  34.766667  ...       0       0       0       0
3   4    c  51690.0  15.808333  ...       0       0       0       0
4   5    d  28347.0  40.941667  ...       0       0       0       0
5   6    c  70854.0  40.400000  ...       0       0       0       0
6   7    d  38726.0  30.975000  ...       0       0       0       0
7   8    a  55162.0  26.966667  ...       0       0       0       0
8   9    c  67311.0  32.383333  ...       0       0       0       0
9  10    a  63344.0  38.233333  ...       0       0       0       0

[10 rows x 46 columns]

In [10]:
df = pd.concat([df, pd.get_dummies(df['area'], prefix='area')], axis = 1)
df.drop('area', axis = 1, inplace = True)
display(df[1:10])

   id   income     aspect  subscriptions  ...  area_a  area_b  area_c  area_d
1   2  60369.0  18.625000              2  ...       0       0       1       0
2   3  55126.0  34.766667              1  ...       0       0       1       0
3   4  51690.0  15.808333              1  ...       0       0       1       0
4   5  28347.0  40.941667              3  ...       0       0       0       1
5   6  70854.0  40.400000              1  ...       0       0       1       0
6   7  38726.0  30.975000              3  ...       0       0       0       1
7   8  55162.0  26.966667              2  ...       1       0       0       0
8   9  67311.0  32.383333              0  ...       0       0       1       0
9  10  63344.0  38.233333              1  ...       1       0       0       0

[9 rows x 49 columns]

In [0]:
med = df['income'].median()
df['income'] = df['income'].fillna(med)

In [12]:
print(list(df.columns))

['id', 'income', 'aspect', 'subscriptions', 'dist_healthy', 'save_rate', 'dist_unhealthy', 'age', 'pop_dense', 'retail_dense', 'crime', 'product', 'job_11', 'job_al', 'job_am', 'job_ax', 'job_bf', 'job_by', 'job_cv', 'job_de', 'job_dz', 'job_e2', 'job_f8', 'job_gj', 'job_gv', 'job_kd', 'job_ke', 'job_kl', 'job_kp', 'job_ks', 'job_kw', 'job_mm', 'job_nb', 'job_nn', 'job_ob', 'job_pe', 'job_po', 'job_pq', 'job_pz', 'job_qp', 'job_qw', 'job_rn', 'job_sa', 'job_vv', 'job_zz', 'area_a', 'area_b', 'area_c', 'area_d']

In [13]:
x_columns = df.columns.drop('product').drop('id')
print(list(x_columns))

['income', 'aspect', 'subscriptions', 'dist_healthy', 'save_rate', 'dist_unhealthy', 'age', 'pop_dense', 'retail_dense', 'crime', 'job_11', 'job_al', 'job_am', 'job_ax', 'job_bf', 'job_by', 'job_cv', 'job_de', 'job_dz', 'job_e2', 'job_f8', 'job_gj', 'job_gv', 'job_kd', 'job_ke', 'job_kl', 'job_kp', 'job_ks', 'job_kw', 'job_mm', 'job_nb', 'job_nn', 'job_ob', 'job_pe', 'job_po', 'job_pq', 'job_pz', 'job_qp', 'job_qw', 'job_rn', 'job_sa', 'job_vv', 'job_zz', 'area_a', 'area_b', 'area_c', 'area_d']

In [0]:
x_columns = df.columns.drop('product').drop('id')
x = df[x_columns].values
dummies = pd.get_dummies(df['product'])
products = dummies.columns
y = dummies.values

In [15]:
print(x)
print(y)

[[5.08760000e+04 1.31000000e+01 1.00000000e+00 ... 0.00000000e+00
  1.00000000e+00 0.00000000e+00]
 [6.03690000e+04 1.86250000e+01 2.00000000e+00 ... 0.00000000e+00
  1.00000000e+00 0.00000000e+00]
 [5.51260000e+04 3.47666667e+01 1.00000000e+00 ... 0.00000000e+00
  1.00000000e+00 0.00000000e+00]
 ...
 [2.85950000e+04 3.94250000e+01 3.00000000e+00 ... 0.00000000e+00
  0.00000000e+00 1.00000000e+00]
 [6.79490000e+04 5.73333333e+00 0.00000000e+00 ... 0.00000000e+00
  1.00000000e+00 0.00000000e+00]
 [6.14670000e+04 1.68916667e+01 0.00000000e+00 ... 0.00000000e+00
  1.00000000e+00 0.00000000e+00]]
[[0 1 0 ... 0 0 0]
 [0 0 1 ... 0 0 0]
 [0 1 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 1 0]
 [0 0 1 ... 0 0 0]
 [0 0 1 ... 0 0 0]]

In [0]:
y = df['income'].values